<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sight Read Music Recognition App</title>
    <script src="../app.js" type="module"></script>
    <link href="../style.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <label> Choose the Image File to upload: </label>
        <form method="POST">
            <input type="file" id="upload_image" accept="image/jpeg, image/png, image/jpg" /> <br /><br />
            <button id="read_image">Convert image to XML</button>
        </form>
        <div id="result">
        </div>
    </div>
</body>

</html>